extends ../layout

block content
 a(href='/') PAGINA PRINCIPAL
 br
 br
 a(href='/bicicletas/create') NUEVA BICICLETA

 table.table
        thead
            tr
                th(scope='col') #
                th(scope='col') Color
                th(scope='col') Modelo
                th(scope='col') Ubicacion
                th(scope='col') 
                th(scope='col') 
                th(scope='col') 
        tbody
            each bici in bicis
                tr
                    td(scope='row') 
                        = bici.id
                    td=bici.color
                    td=bici.modelo
                    td=bici.ubicacion
                    td 
                     a(href='bicicletas/' + bici.id + '/read') Ver
                    td 
                     a(href='bicicletas/' + bici.id + '/update') Editar
                    td
                     form.inline(method='post' action='bicicletas/' + bici.id + '/delete')
                        input(type='hidden' name='id' value=bici.id)
                        button.link-button(type='submit' name='subit_param' value='subimt_value' class='btn')
                            = 'Eliminar'



